.my-navbar {
    background-color: transparent !important;
}

.carousel-caption h3 {
    font-size: 2.5vw; 
  }
  
  .carousel-caption p {
    font-size: 1.5vw;
  }
  
  @media (max-width: 768px) { 
    .carousel-caption h3 {
      font-size: 5vw;
    }
  
    .carousel-caption p {
      font-size: 4vw;
    }
  }
  
  @media (max-width: 576px) { 
    .carousel-caption h3 {
      font-size: 6vw;
    }
  
.carousel-caption p {
      font-size: 5vw;
    }
  }


.carousel-indicators [data-bs-target] {
    background-color: white; /* Color de los indicadores no activos */
    width: 10px; /* Tamaño del indicador */
    height: 10px; /* Tamaño del indicador */
    border-radius: 50%; /* Hace que los indicadores sean redondos */
    margin: 0 3px; /* Espacio entre los indicadores */
  }
  
  .carousel-indicators .active {
    background-color: orange; /* Color de los indicadores activos */
  }