.custom-container {
  background-color: #f8f9fa; /* Color de fondo que has proporcionado */
  padding: 3rem; /* Padding que has proporcionado */
  padding-left: 30VW;
  padding-right: 30VW;
}
  
  .form-label {
    font-weight: bold; /* Hace las etiquetas del formulario en negrita */
  }
  
  .btn-primary {
    background-color: #FF5206; /* Color naranja para el botón */
    border: none; /* Remueve el borde del botón */
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #e64802; /* Un naranja más oscuro para el estado hover/focus/active */
  }

  .contact-text {
    font-size: 24px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
  }

  .align-right {
    display: inline-block;
    width: 100%;
    text-align: right;
  }

  .input-group-text {
    background-color: #FF5206; /* Color de fondo para el prefijo del grupo de entrada */
    border: none; /* Eliminar el borde si es necesario */
    color: white; /* Color del texto dentro del prefijo del grupo de entrada */
  }

  @media (max-width: 768px) {
    .custom-container {
      padding-left: 10VW;
      padding-right: 10VW;
    }
  }