.fixed-buttons-container {
  position: fixed;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: row;
  z-index: 1050;
}

.button-custom {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  padding: 0.25rem; /* Minimized padding */
  width: 48px; /* Ensure the icon fits well */
  height: 48px; /* Ensure the icon fits well */
  display: flex;
  align-items: center;
  justify-content: center;
}