@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.footer {
    font-family: 'Inter', sans-serif;
    color: white; /* Para el texto */
    background-color: #FF5206; /* Color de fondo del footer */
    padding-top: 7rem;
    padding-bottom: 1rem;
  }

  .copyrigth {
    margin-top: 5rem;
  }
  
  .footer h5 {
    margin-bottom: 1rem;
  }
  
  .footer p, .footer a {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  .footer p svg, .footer a svg {
    margin-right: 0.5rem;
  }
  
  .footer .form-control {
    border: 2px solid white;
    border-radius: 8px; /* Bordes redondeados para el input de búsqueda */
    padding: 0.5rem;
  }
  
  .footer .btn:hover,
  .footer .btn:focus {
    color: #FF5206;
    background-color: white;
  }
  
  /* Centrar el texto de copyright en móviles */
  @media (max-width: 768px) {
    .footer .text-center {
      text-align: center;
    }
  }

  /* Ajustes de responsividad para el formulario y los elementos del footer */
  @media (max-width: 768px) {
    .footer .search-form {
      justify-content: center;
      margin-top: 1rem;
    }
    /* Ajustes de responsividad para links de contactanos y siguenos */
    .footer p, .footer a {
      /* justify-content: center;*/
    }
  
    .footer .d-flex {
      justify-content: center;
      padding-bottom: 1rem;
    }
    .container{
      padding-bottom: 2vh;
    }
  }
  
  /* Ajustar padding en los lados del footer para dispositivos grandes y pequeños */
  @media (min-width: 992px) {
    .footer {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

    .search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    }

    .search input{
      height: 60px;
      text-indent: 25px;
      border: 2px solid #d6d4d4;
    }


    .search input:focus{
      box-shadow: none;
      border: 2px solid blue;
    }


    .search button{
      position: absolute;
      top: 5px;
      right: 5px;
      height: 50px;
      width: 87px;
      border-radius: 8px;
      background: #20689A;
    }

    .social-link{
      text-decoration: none;
      color: inherit;
    }
    .social-link:hover{
      font-weight: bold;
    }
