.scrolled-navbar {
    background-color: #FF5206; 
    height: 90px; 
}
/* CustomNavbar.css */

.custom-toggler {
    background-color: #FFFFFF; /* Ensures the blue background shows through */
    opacity: 0.5;
    border: none; /* Removes any border from the toggle button */
    margin-right: 15px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-color: transparent; /* Allows the changing background to show through */
    border: none;
}

/* CustomNavbar.css */
.navbar-custom-container {
    justify-content: center; /* This will center the brand logo if there are no other elements of the same level */
}


/*.navbar-brand {
    position: absolute; /* Positioning the logo absolutely to ensure it stays centered 
    left: 50%;
    transform: translateX(-50%); /* This will center the logo perfectly 
    display: flex;
    align-items: center; /* This will vertically center the img if the navbar has a height 
}*/

/* If the toggle button messes up the centering, hide it on larger screens */
@media (min-width: 992px) {
    .navbar-toggler {
        
    }
    .navbar-brand img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
@media (max-width: 768px) {
    .navbar-brand img {
        max-width: 150px;
        height: auto;
        display: block;
    }
    
}