
.product-grid {
  text-align: center;
  margin: 20px auto; /* Ajusta el margen para centrar horizontalmente si es necesario */
  max-width: 800px; /* O el ancho máximo que prefieras para tu cuadrícula */
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  justify-content: center;
}


.product-item img {
  .product-item img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

/* product.css */
.product-item {
  /* Estilos base para tus items de producto */
  position: relative;
  /* Otros estilos... */
}

.product-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding: 2vh;*/ /* Ajusta el relleno según tus necesidades */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.product-item:hover .product-details,
.product-item:active .product-details {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .product-item {
    /* Change layout to stack image and text */
    display: block;
    width: 100%; /* Take up full container width */
  }

  .product-item .product-details {
    /* Show details by default on mobile */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Re-enable pointer events if needed */
  }

  /* Since we're showing details by default on mobile, we don't need these styles */
  .product-item:hover .product-details,
  .product-item:active .product-details {
    opacity: 1;
    visibility: visible;
  }
  .product-details {
    position: relative; /* Or adjust as needed for your design */
    opacity: 1;
    padding: 3vh; /* Adjust padding as needed */
    visibility: visible;
    pointer-events: auto; /* Re-enable pointer events if they were disabled */
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  /* Adjustments for mobile */
  margin-bottom: 15px; /* Add some space between the items */
}

.product-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Additional responsive adjustments */
@media (max-width: 768px) {
  .product-item {
    width: 100%; /* Full width on small screens */
  }
  
  /* You might want to adjust the product details styling for mobile here */
}