.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #20689A;
  }
  
  .login-form {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .btn-custom {
    background-color: #0056b3;
    color: white;
    border: none;
    margin-top: 1rem;
  }
  
  .btn-custom:hover {
    background-color: #003d82;
  }